<!DOCTYPE html>
<html ng-app>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
    <script>
        function MainCtrl($scope){
            $scope.user = null;
            $scope.setUser = function (name){
                $scope.user = name;
            }
        }

        function LoginCtrl($scope){
            $scope.name = '';
            $scope.login = function (name){
                $scope.setUser($scope.name);
            }
            $scope.logout = function (){
               $scope.setUser(null);
            }
        }
    </script>
    

</head>
<body ng-controller="MainCtrl">
    <div>
        <div ng-show="user">
            El usuario {{user}} esta logueado</br>     
        </div>

        <div ng-hide="user">
            No hay ningun usuario logueado</br>     
        </div>
        
    </div>

    <div ng-controller="LoginCtrl" style="float:right;padding:5px;border:solid 1px #ccc;background-color:#eee;">
        <div ng-hide="user">
        Login: <input type="text" ng-model='name'>
        </div>
        <div style="float:right;">
            <button ng-hide="user" ng-click="login()">Login</button>
            <button ng-show="user" ng-click="logout()">Logout</button>    
        </div>
        
    </div>
</body>
</html>		